@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.dashboard {
    background-color: v.$grisClaro;
    
    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;//Forza para que tome el resto de contenido
    }
}